<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.liquid %}
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-grow">
      {{ content }}
    </main>
    </div>
    {% include scripts.liquid %}
  </body>
</html>
